*{
    margin: 0;
    padding: 0;
}


body, html{
    width: 100%;
    height: 100%;
}
#paginaPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-bottom: 12%;
    margin-top: 2%;

}
#formularioPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 5px solid black;
    border-radius: 20px;
}
#dadosCadastrais{
display: grid;
grid-template-rows: 30px 30px 30px;
flex-direction: column;

background-color: aqua;
}

#dadosDeEndereco{
    display: flex;
    flex-direction: row;
    margin: 30px;
    background-color: blue;

}

#espacamento{
    display: flex;
    margin: 10px;
}

p{
    text-align: center;
}

#estadoCivil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

#bensDoUsuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}



